@model BusStation.Data.Entities.Route

@{
    ViewData["Title"] = "Обновление остановок маршрута";
}

<h1>Edit</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRoutesBusStops">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <div class="p-2">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<AssignedDataViewModel> busStops = ViewBag.BusStops;

                                foreach (var busStop in busStops)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td class="p-2">
                                        <input type="checkbox"
                                               name="selectedBusStops"
                                               value="@busStop.Id"
                                               @(Html.Raw(busStop.Assigned ? "checked=\"checked\"" : "")) />
                                               @busStop.Id@:)  @busStop.Title
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}